<%= "<em>#{flash[:notice]}</em>".html_safe if flash[:notice] %><h3><%= @question.title %></h3>
<p>
  <%= @question.body.gsub(/\n/, "<br />").html_safe %>
</p>
<p><%= "Created by #{@question.user.first_name} | " if @question.user %>View Count: <%= @question.view_count %> | [<%= link_to "edit question", edit_question_path %>]</p>

<hr>

<h2>Create an Answer</h2>
<%# form_for @answer, url: question_answers_apth(@question) do |f| %>
<%= form_for [@question, @answer] do |f| %>
<%= f.label :body %>
<%= f.text_area :body %>
<%= f.submit %>
<% end %>

<hr>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <%= link_to "Delete", question_answer_path(@question,answer), method: :delete, class: "btn btn-danger" %>
  <%= answer.body %>
  <hr>
  <h3>Enter a comment</h3>
  <%= form_for [answer, (@comment || Comment.new)] do |f| %>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-info btn-sm" %>
  <% end %>
  <hr>
  <% answer.comments.each do |comment| %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Delete", answer_comment_path(answer, comment), method: :delete, class: "btn btn-default" %>
    <%= comment.body %>
    <hr>
  <% end %>
<% end %>