= "<em>#{flash[:notice]}</em>".html_safe if flash[:notice]
%h3= @question.title
%p
  = @question.categories.map(&:name).join(", ")
%p= @question.body.gsub(/\n/, "<br />").html_safe
%p
  = "Created by #{@question.user.first_name} on #{standard_date(@question.created_at)} | " if @question.user
  View Count: #{@question.view_count} | Like Count: #{@question.like_count} 
  - if can? :edit, @question
    | [#{link_to "edit question", edit_question_path}] 
  - if user_signed_in? && current_user.has_liked?(@question)
    | [#{link_to "unlike", question_like_path(@question, @question.like_for(current_user)), method: :delete}]
  - else
    | [#{link_to "like", question_likes_path(@question), method: :post}] 
  - if user_signed_in? && current_user.has_favorited?(@question)
    | #{link_to "<span class=\"glyphicon glyphicon-star\"></span>".html_safe, question_favorite_path(@question, current_user.favorite_for(@question)), method: :delete}
  - else
    | #{link_to "<span class=\"glyphicon glyphicon-star-empty\"></span>".html_safe, question_favorites_path(@question), method: :post}
%hr
%h2 Create an Answer
-# form_for @answer, url: question_answers_apth(@question) do |f|
= simple_form_for [@question, @answer], html: { class: "horizontal-form" }, remote: true do |f|
  = f.input :body
  = f.submit class: "btn btn-default"
%hr
%h2 Answers
.answers
  - @question.answers.each do |answer|
    = render partial: "/answers/answer", locals: {answer: answer}