%div{id: dom_id(answer)}
  = link_to "Delete", question_answer_path(@question,answer), method: :delete, class: "btn btn-danger", remote: true
  = "<em>Answer by #{answer.user.first_name}:</em> ".html_safe if answer.user
  = answer.body
  %h3 Enter a comment
  .form
    = render partial: "/comments/form", locals: {answer: answer, comment: Comment.new}
  %hr
  .comments
    - answer.comments.each do |comment|
      = render partial: "/comments/comment", locals: {answer: answer, comment: comment}