<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<a href="/">Home</a>
|
<a href="/hello">Hello</a>
|
<a href="/about">About</a>
|
<%= link_to "All Questions", questions_path %>
|
<%= link_to "New Question", new_question_path %>
|
<% if user_signed_in? %>
  Hello <%= current_user.first_name %>,
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  | 
  <%= link_to "Sign In with Twitter", user_omniauth_authorize_path(provider: :twitter) %>
<% end %>
<hr>

<%= flash[:notice] || flash[:alert] %>

<hr>

<%= yield %>

</div>

</body>
</html>
